:root {
    --header-color: antiquewhite;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Garamond', serif;
    letter-spacing: .1rem;
    list-style: none;
}

header {
    user-select: none;
    z-index: 2;
}

header a {
    background-color: var(--header-color);
    color: black;
    transition: .7s;
    font-weight: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-bottom: .4rem solid tan;
    padding: .5rem;
    position: absolute;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

header a:hover {
    filter: brightness(110%);
}

header img {
    object-fit: cover;
    object-position: center;
}

#logo {
    top: 1rem;
    left: 1rem;
}

#sign-in,
#profile-picture {
    top: 1rem;
    right: 1rem;
}

#username {
    position: absolute;
    top: 2.5rem;
    right: 7.5rem;
    background-color: transparent;
    color: white;
    font-size: 2rem;
}

.hidden {
    display: none;
}

header img {
    height: 4rem;
    mix-blend-mode: darken;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}