:root {
    /* --bgcolor: #4d0000; */
    --bgcolor: black;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Garamond', serif;
    letter-spacing: .1rem;
    list-style: none;
    /* outline: 2px solid lime; */
}

body {
    background-color: var(--bgcolor);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}

#profile-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: calc(50% - 20vmin);
    top: 50%;
    transform: translate(0%, -50%);
    user-select: none;
}


#profile-track img {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
}

button#sign-in {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    background-color: antiquewhite;
    color: rgb(79, 3, 79);
    transition: .7s;
    font-weight: 1000;
}

button#sign-in:hover {
    border-radius: 50%;
}