:root {
    /* --bgcolor: #4d0000; */
    --bgcolor: #131114;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Garamond', serif;
    letter-spacing: .1rem;
    list-style: none;
    /* outline: 2px solid lime; */
}

.screen-cover {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: var(--bgcolor);
    animation: hide 1s linear .4s forwards;
    opacity: 100%;
    z-index: 9999;
}

@keyframes hide {
    100% {
        opacity: 0%;
        display: none;
    }
}

body {
    background-color: var(--bgcolor);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    color: white;
}

#profile-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: calc(50% - 20vmin);
    top: 50%;
    transform: translate(-25%, -50%);
    user-select: none;
    animation: centerToLeft 2s cubic-bezier(.47, 0, .52,1) 1.2s forwards;
}

@keyframes centerToLeft {
    100% {
        transform: translate(0%, -50%);
    }
}

#profile-track img {
    width: 6vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
    animation: expand 2s cubic-bezier(.47, 0, .52,1) 1.2s forwards;
    transition: width height 3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes expand {
    100% {
        width: 40vmin;
    }
}

img.fill-screen {
    width: 100vw;
    height: 100vh;
}

header {
    width: 100vw;
    height: 100vh;
    user-select: none;
    z-index: 2;
}

header a {
    background-color: antiquewhite;
    color: black;
    transition: .7s;
    font-weight: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-bottom: .4rem solid tan;
    padding: .5rem;
    position: absolute;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

header a:hover {
    filter: brightness(110%);
}

header img {
    object-fit: cover;
    object-position: center;
}

#logo {
    top: 1rem;
    left: 1rem;
}

#sign-in,
#profile-picture {
    top: 1rem;
    right: 1rem;
}

.hidden {
    display: none;
}

header img {
    height: 4rem;
    mix-blend-mode: darken;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}