body {
    background-color: blanchedalmond;
}

.wrapper {
    width: 100%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: 4rem;
    font-weight: bold;
}

.level-selector {
    display: grid;
    grid-template-rows: repeat(3, 8rem);
    grid-template-columns: repeat(5, 8rem);
    gap: 1.5rem;
}

.level {
    width: 8rem;
    height: 8rem;
    font-size: 2rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}