:root {
    --bgcolor: #131114;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Garamond', serif;
    letter-spacing: .1rem;
}

body {
    background-color: var(--bgcolor);
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 8rem;
}

.wrapper button {
    width: 20rem;
    height: 6rem;
    background-color: white;
    box-shadow: inset 2px 4px 20px var(--bgcolor);
    border-radius: 1.5rem;
    font-size: 1.5rem;
    transition: .75s cubic-bezier(1, 0, 0, 1);
}

.wrapper button:hover {
    transform: scale(105%);
    box-shadow: none;
}

.wrapper button:active {
    transform: scaleX(110%);
    transition: .2s linear;
}